%br/
%br/
%br/
.row
  .col-md-5.col-md-offset-4
    .well
      %legend Sign up
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:class => "form"}) do |f|
        = devise_error_messages!
        .form-group          
          = f.text_field  :organization_name, :required => true, :class=>"form-control", :placeholder=>"Organization Name"
        .form-group
          = f.email_field :email, :required => true, :class=>"form-control", :placeholder=>"Email" 
        .form-group
          = f.text_field  :organization_website, :required => true, :class=>"form-control", :placeholder=>"Website"
        .form-group
          
          = f.select :organization_size, CompanyStrength.find(:all).collect {|c| [ c.range, c.id ]}, {:include_blank => '- Organization Size -'},  :required => "true", :class=>"form-control"
        .form-group
          = f.password_field :password, :required => true, :class=>"form-control", :placeholder=>"Password"
        .form-group
          = f.password_field :password_confirmation, :required => true, :class=>"form-control", :placeholder=>"Password Confirmation" 
        .form-group
          = f.submit "Sign up", :class=>"btn btn-lg btn-success btn-block"
      .form-group
        = render "devise/shared/links"
