-if user_signed_in?
  #changepassModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", type: "button", "data-dismiss" => "modal"} ×
          %h4.modal-title
            Change Password
        .modal-body
          #task_alert_msg.alert.fade.in.alert-danger{style: "display:none;margin-bottom: 10px;"}
            %button.close{onclick: "$('#task_alert_msg').hide();$('#task_loader').hide();"} ×
            #task_msg_div            
          #form_content
            = form_for @user, :url => save_password_path, :html => { :method => :put, :class => "form-horizontal" } do |f|
              - if @user.errors.any?
                .error_messages
                  %ul
                    - for message in @user.errors.full_messages
                      %li= message
              .form-group
                %label.col-md-4.control-label{for: "inputEmail3"} New Password
                .col-md-4
                  = f.password_field :password, :autocomplete => "off",:required => true,  :class=>"form-control"
              .form-group
                %label.col-md-4.control-label{for: "inputPassword3"} Confirm Password
                .col-md-4
                  = f.password_field :password_confirmation,:required => true,  :class=>"form-control"
              .form-group
                .col-md-offset-4.col-md-10
                  = f.submit "Update" , :class=>"btn btn-primary",:onclick=> "return validate_password();"
                  /= link_to t('.back', :default => t("helpers.links.back")), home_index_path, :class => 'btn btn-default'                         |
                  %a{href:"#", "aria-hidden" => "true","data-dismiss" => "modal"}
                    %span.c_links
                      Cancel
:javascript
  function validate_password()
  {
   var pwd = $("#user_password").val();
   var pwd_con = $("#user_password_confirmation").val();
  if(pwd != "" && pwd_con != ""){
   if(pwd.length < 8)
   {
    $("#task_alert_msg").show();
    $("#task_msg_div").html('Password is too short(minimum is 8 characters)');
    return false;
   }
   else{
   if(pwd != pwd_con)
   {
    $("#task_alert_msg").show();
    $("#task_msg_div").html('Password does not match.');
    return false;
   }
   else
   {
    $("#task_alert_msg").hide();
    $("#task_msg_div").html('');
   }
   }
  }
  else
  {
   $("#task_alert_msg").hide();
   $("#task_msg_div").html('');
  }
  }

