%h2 Change Password
%br/
= form_for @user, :url => save_password_path, :html => { :method => :put, :class => "form-horizontal" } do |f|
  - if @user.errors.any?
    .error_messages
      %ul
        - for message in @user.errors.full_messages
          %li= message
  .form-group
    %label.col-sm-2.control-label{for: "inputEmail3"} New Password
    .col-sm-4
      = f.password_field :password, :autocomplete => "off",:required => true, :placeholder => "New Password", :class=>"form-control"
  .form-group
    %label.col-sm-2.control-label{for: "inputPassword3"} Password Confirmation
    .col-sm-4
      = f.password_field :password_confirmation,:required => true, :placeholder => "Confirm New Password", :class=>"form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "Update" , :class=>"btn btn-primary"
      = link_to t('.back', :default => t("helpers.links.back")), |
        home_index_path, :class => 'btn btn-default'                         |
